ninja
pybind11
argparse
diffusers
einops
opencv-python
numpy
torch
transformers
torchvision
omegaconf
tqdm
trimesh
pygltflib
xatlas
accelerate
gradio
fastapi
uvicorn
rembg
onnxruntime
simplify_quadric_decimation
